# [Charites Wiki](Home.md)

* [**Home**](Home.md)

---

### Rule Categories
{{range .Categories}}
<details open>
<summary><b>{{.Title}}</b> ({{.Count}} rules) - <a href="{{.Name}}.md">Overview</a></summary>

{{range .Rules}}* [`{{.ID}}`]({{.ID}}.md)
{{end}}
</details>
{{end}}
