# [Charites Wiki](Home.md)

* [**Home**](Home.md)

---

### Rule Categories
{{range .Categories}}
* [**{{.Title}}**]({{.Name}}.md) ({{.Count}} rules)
{{range .Rules}}  * [`{{.ID}}`]({{.Category}}/{{.Slug}}.md)
{{end}}{{end}}
