# [Charites Wiki](Home)

* [**Home**](Home)

---

### Rule Categories
{{range .Categories}}
<details open>
<summary><b>{{.Title}}</b> ({{.Count}} rules)</summary>

* [**{{.Title}} Overview**]({{.Name}})
{{range .Rules}}* [`{{.ID}}`]({{.ID}})
{{end}}
</details>
{{end}}
